*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    background: transparent;
}


ul,
ol,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}